Public/SneakyLastFm/LastFm.wsdl

<?xml version="1.0"?>

<definitions name="LastFm" 
             targetNamespace="LastFm-1-2"
             xmlns:tns="LastFm-1-2"
             xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
             xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/">

  <message name="HandshakeInput">
    <part name="version" type="xsd:string" />
    <part name="platform" type="xsd:string" />
    <part name="username" type="xsd:string" />
    <part name="passwordmd5" type="xsd:string" />
    <part name="language" type="xsd:string" />
    <part name="player" type="xsd:string" />
  </message>
  
  <message name="HandshakeOutput">
    <part name="result" type="xsd:string"/>
  </message>
  
  <portType name="HandshakePortType">
    <operation name="Handshake">
      <input message="tns:HandshakeInput"/>
      <output message="tns:HandshakeOutput"/>
    </operation>
  </portType>
  
  <binding name="HandshakeBinding" type="tns:HandshakePortType">
    <http:binding verb="GET" />
    <operation name="Handshake">
      <http:operation location="radio/handshake.php" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:content type="text/xml" />
      </output>
    </operation>
  </binding>

  <message name="ScrobblerHandshakeInput">
    <part name="hs" type="xsd:string" />
    <part name="p" type="xsd:string" />
    <part name="c" type="xsd:string" />
    <part name="v" type="xsd:string" />
    <part name="u" type="xsd:string" />
    <part name="t" type="xsd:string" />
    <part name="a" type="xsd:string" />
  </message>

  <message name="ScrobblerHandshakeOutput">
    <part name="result" type="xsd:string"/>
  </message>

  <portType name="ScrobblerHandshakePortType">
    <operation name="ScrobblerHandshake">
      <input message="tns:ScrobblerHandshakeInput"/>
      <output message="tns:ScrobblerHandshakeOutput"/>
    </operation>
  </portType>

  <binding name="ScrobblerHandshakeBinding" type="tns:ScrobblerHandshakePortType">
    <http:binding verb="GET" />
    <operation name="ScrobblerHandshake">
      <http:operation location="" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:content type="text/xml" />
      </output>
    </operation>
  </binding>

  <message name="AdjustInput">
    <part name="baseURL" type="xsd:string" />
    <part name="basePath" type="xsd:string" />
    <part name="session" type="xsd:string" />
    <part name="url" type="xsd:string" />
    <part name="lang" type="xsd:string" />
  </message>

  <message name="AdjustOutput">
    <part name="result" type="xsd:string"/>
  </message>

  <portType name="AdjustPortType">
    <operation name="Adjust">
      <input message="tns:AdjustInput"/>
      <output message="tns:AdjustOutput"/>
    </operation>
  </portType>

  <binding name="AdjustBinding" type="tns:AdjustPortType">
    <http:binding verb="GET" />
    <operation name="Adjust">
      <http:operation location="(baseURL)(basePath)/adjust.php" />
      <input>
        <http:urlReplacement />
      </input>
      <output>
        <mime:content type="text/xml" />
      </output>
    </operation>
  </binding>

  <types>
    <xsd:complexType name="Track">
      <xsd:sequence>
        <xsd:element name="location" type="xsd:string" />
        <xsd:element name="title" type="xsd:string" />
        <xsd:element name="id" type="xsd:string" />
        <xsd:element name="album" type="xsd:string" />
        <xsd:element name="creator" type="xsd:string" />
        <xsd:element name="duration" type="xsd:string" />
        <xsd:element name="image" type="xsd:string" />
        <!--<xsd:element name="lastfm:trackauth" type="xsd:string" />
        <xsd:element name="lastfm:albumId" type="xsd:string" />
        <xsd:element name="lastfm:artistId" type="xsd:string" />
        <xsd:element name="link rel=&amp;http://www.last.fm/artistpage&amp;" type="xsd:string" />
        <xsd:element name="link rel=&amp;http://www.last.fm/albumpage&amp;" type="xsd:string" />
        <xsd:element name="link rel=&amp;http://www.last.fm/trackpage&amp;" type="xsd:string" />
        <xsd:element name="link rel=&amp;http://www.last.fm/buyTrackURL&amp;" type="xsd:string" />
        <xsd:element name="link rel=&amp;http://www.last.fm/buyAlbumURL&amp;" type="xsd:string" />
        <xsd:element name="link rel=&amp;http://www.last.fm/freeTrackURL&amp;" type="xsd:string" />-->
      </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Playlist">
      <xsd:sequence>
        <xsd:element name="track" type="tns:Track" maxOccurs="unbounded" />
      </xsd:sequence>
    </xsd:complexType>
  </types>

  <message name="PlaylistInput">
    <part name="baseURL" type="xsd:string" />
    <part name="basePath" type="xsd:string" />
    <part name="sk" type="xsd:string" />
    <part name="discovery" type="xsd:string" />
    <part name="version" type="xsd:string" />
  </message>

  <message name="PlaylistOutput">
    <part name="result" type="tns:Playlist"/>
  </message>

  <portType name="PlaylistPortType">
    <operation name="Playlist">
      <input message="tns:PlaylistInput"/>
      <output message="tns:PlaylistOutput"/>
    </operation>
  </portType>

  <binding name="PlaylistBinding" type="tns:PlaylistPortType">
    <http:binding verb="GET" />
    <operation name="Playlist">
      <http:operation location="(baseURL)(basePath)/xspf.php" />
      <input>
        <http:urlReplacement />
      </input>
      <output>
        <mime:content type="text/xml" />
      </output>
    </operation>
  </binding>

  <message name="CommandInput">
    <part name="baseURL" type="xsd:string" />
    <part name="basePath" type="xsd:string" />
    <part name="session" type="xsd:string" />
    <part name="command" type="xsd:string" />
  </message>

  <message name="CommandOutput">
    <part name="result" type="xsd:string"/>
  </message>

  <portType name="CommandPortType">
    <operation name="Command">
      <input message="tns:CommandInput"/>
      <output message="tns:CommandOutput"/>
    </operation>
  </portType>

  <binding name="CommandBinding" type="tns:CommandPortType">
    <http:binding verb="GET" />
    <operation name="Command">
      <http:operation location="(baseURL)(basePath)/control.php" />
      <input>
        <http:urlReplacement />
      </input>
      <output>
        <mime:content type="text/xml" />
      </output>
    </operation>
  </binding>

  <message name="NowPlayingInput">
    <part name="url" type="xsd:string" />
    <part name="s" type="xsd:string" />
    <part name="a" type="xsd:string" />
    <part name="t" type="xsd:string" />
    <part name="b" type="xsd:string" />
    <part name="l" type="xsd:string" />
    <part name="n" type="xsd:string" />
    <part name="m" type="xsd:string" />
  </message>

  <message name="NowPlayingOutput">
    <part name="result" type="xsd:string"/>
  </message>

  <portType name="NowPlayingPortType">
    <operation name="NowPlaying">
      <input message="tns:NowPlayingInput"/>
      <output message="tns:NowPlayingOutput"/>
    </operation>
  </portType>

  <binding name="NowPlayingBinding" type="tns:NowPlayingPortType">
    <http:binding verb="GET" />
    <operation name="NowPlaying">
      <http:operation location="(url)/control.php" />
      <input>
        <http:urlReplacement />
      </input>
      <output>
        <mime:content type="text/xml" />
      </output>
    </operation>
  </binding>
  
  <service name="LastFmService">
    <port name="HandshakePort" binding="tns:HandshakeBinding">
      <http:address location="http://ws.audioscrobbler.com/" />
    </port>
    <port name="ScrobblerHandshakePort" binding="tns:ScrobblerHandshakeBinding">
      <http:address location="http://post.audioscrobbler.com/" />
    </port>
    <port name="AdjustPort" binding="tns:AdjustBinding">
      <http:address location="http://" />
    </port>
    <port name="PlaylistPort" binding="tns:PlaylistBinding">
      <http:address location="http://" />
    </port>
    <port name="CommandPort" binding="tns:CommandBinding">
      <http:address location="http://" />
    </port>
    <port name="NowPlayingPort" binding="tns:NowPlayingBinding">
      <http:address location="http://" />
    </port>
  </service>
  
</definitions>