SneakyRadio/AVTransport.wsdl

<?xml version="1.0"?>

<definitions name="AVTransport"
    targetNamespace="schemas-upnp-org-AVTransport-1"
    xmlns:svc="schemas-upnp-org-AVTransport-1"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns="http://schemas.xmlsoap.org/wsdl/">

	<types>
		<xsd:schema elementFormDefault="qualified" targetNamespace="urn:schemas-upnp-org:control-1-0">
			<xsd:complexType name="UpnpErrorDetail">
				<xsd:sequence>
					<xsd:element minOccurs="1" maxOccurs="1" name="UPnPError">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element minOccurs="1" maxOccurs="1" name="errorCode" type="xsd:unsignedInt"/>
								<xsd:element minOccurs="1" maxOccurs="1" name="errorDescription" type="xsd:string"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</types>

	<message name="UpnpErrorMessage">
		<part name="Detail" type="svc:UpnpErrorDetail"/>
	</message>

	<message name="SetAVTransportURIInput">
		<part name="InstanceID" type="xsd:unsignedInt"/>
		<part name="CurrentURI" type="xsd:string"/>
		<part name="CurrentURIMetaData" type="xsd:string"/>
	</message>

	<message name="SetAVTransportURIOutput">
	</message>

	<portType name="SetAVTransportURIPortType">
		<operation name="SetAVTransportURI">
			<input message="svc:SetAVTransportURIInput"/>
			<output message="svc:SetAVTransportURIOutput"/>
			<fault name="UpnpError" message="UpnpErrorMessage"/>
		</operation>
	</portType>

	<binding name="SetAVTransportURIBinding" type="svc:SetAVTransportURIPortType">
		<soap:binding
            style="rpc"
            transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="SetAVTransportURI">
			<soap:operation
                soapAction="urn:schemas-upnp-org:service:AVTransport:1#SetAVTransportURI"/>
			<input>
				<soap:body
                    use="encoded"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace = "urn:schemas-upnp-org:service:AVTransport:1"/>
			</input>
			<output>
				<soap:body
                    use="encoded"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace = "urn:schemas-upnp-org:service:AVTransport:1"/>
			</output>
			<fault name="UpnpError">
				<soap:fault
                    use="encoded"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="urn:schemas-upnp-org:control-1-0"
                    name="UpnpError"/>
			</fault>
		</operation>
	</binding>

	<message name="SetNextAVTransportURIInput">
		<part name="InstanceID" type="xsd:unsignedInt"/>
		<part name="NextURI" type="xsd:string"/>
		<part name="NextURIMetaData" type="xsd:string"/>
	</message>

	<message name="SetNextAVTransportURIOutput">
	</message>

	<portType name="SetNextAVTransportURIPortType">
		<operation name="SetNextAVTransportURI">
			<input message="svc:SetNextAVTransportURIInput"/>
			<output message="svc:SetNextAVTransportURIOutput"/>
			<fault name="UpnpError" message="UpnpErrorMessage"/>
		</operation>
	</portType>

	<binding name="SetNextAVTransportURIBinding" type="svc:SetNextAVTransportURIPortType">
		<soap:binding
            style="rpc"
            transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="SetNextAVTransportURI">
			<soap:operation
                soapAction="urn:schemas-upnp-org:service:AVTransport:1#SetNextAVTransportURI"/>
			<input>
				<soap:body
                    use="encoded"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace = "urn:schemas-upnp-org:service:AVTransport:1"/>
			</input>
			<output>
				<soap:body
                    use="encoded"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace = "urn:schemas-upnp-org:service:AVTransport:1"/>
			</output>
			<fault name="UpnpError">
				<soap:fault
                    use="encoded"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="urn:schemas-upnp-org:control-1-0"
                    name="UpnpError"/>
			</fault>
		</operation>
	</binding>

	<message name="GetMediaInfoInput">
		<part name="InstanceID" type="xsd:unsignedInt"/>
	</message>

	<message name="GetMediaInfoOutput">
		<part name="NrTracks" type="xsd:unsignedInt"/>
		<part name="MediaDuration" type="xsd:string"/>
		<part name="CurrentURI" type="xsd:string"/>
		<part name="CurrentURIMetaData" type="xsd:string"/>
		<part name="NextURI" type="xsd:string"/>
		<part name="NextURIMetaData" type="xsd:string"/>
		<part name="PlayMedium" type="xsd:string"/>
		<part name="RecordMedium" type="xsd:string"/>
		<part name="WriteStatus" type="xsd:string"/>
	</message>

	<portType name="GetMediaInfoPortType">
		<operation name="GetMediaInfo">
			<input message="svc:GetMediaInfoInput"/>
			<output message="svc:GetMediaInfoOutput"/>
			<fault name="UpnpError" message="UpnpErrorMessage"/>
		</operation>
	</portType>

	<binding name="GetMediaInfoBinding" type="svc:GetMediaInfoPortType">
		<soap:binding
            style="rpc"
            transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="GetMediaInfo">
			<soap:operation
                soapAction="urn:schemas-upnp-org:service:AVTransport:1#GetMediaInfo"/>
			<input>
				<soap:body
                    use="encoded"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace = "urn:schemas-upnp-org:service:AVTransport:1"/>
			</input>
			<output>
				<soap:body
                    use="encoded"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace = "urn:schemas-upnp-org:service:AVTransport:1"/>
			</output>
			<fault name="UpnpError">
				<soap:fault
                    use="encoded"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="urn:schemas-upnp-org:control-1-0"
                    name="UpnpError"/>
			</fault>
		</operation>
	</binding>

	<message name="GetMediaInfo_ExtInput">
		<part name="InstanceID" type="xsd:unsignedInt"/>
	</message>

	<message name="GetMediaInfo_ExtOutput">
		<part name="CurrentType" type="xsd:string"/>
		<part name="NrTracks" type="xsd:unsignedInt"/>
		<part name="MediaDuration" type="xsd:string"/>
		<part name="CurrentURI" type="xsd:string"/>
		<part name="CurrentURIMetaData" type="xsd:string"/>
		<part name="NextURI" type="xsd:string"/>
		<part name="NextURIMetaData" type="xsd:string"/>
		<part name="PlayMedium" type="xsd:string"/>
		<part name="RecordMedium" type="xsd:string"/>
		<part name="WriteStatus" type="xsd:string"/>
	</message>

	<portType name="GetMediaInfo_ExtPortType">
		<operation name="GetMediaInfo_Ext">
			<input message="svc:GetMediaInfo_ExtInput"/>
			<output message="svc:GetMediaInfo_ExtOutput"/>
			<fault name="UpnpError" message="UpnpErrorMessage"/>
		</operation>
	</portType>

	<binding name="GetMediaInfo_ExtBinding" type="svc:GetMediaInfo_ExtPortType">
		<soap:binding
            style="rpc"
            transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="GetMediaInfo_Ext">
			<soap:operation
                soapAction="urn:schemas-upnp-org:service:AVTransport:1#GetMediaInfo_Ext"/>
			<input>
				<soap:body
                    use="encoded"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace = "urn:schemas-upnp-org:service:AVTransport:1"/>
			</input>
			<output>
				<soap:body
                    use="encoded"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace = "urn:schemas-upnp-org:service:AVTransport:1"/>
			</output>
			<fault name="UpnpError">
				<soap:fault
                    use="encoded"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="urn:schemas-upnp-org:control-1-0"
                    name="UpnpError"/>
			</fault>
		</operation>
	</binding>

	<message name="GetTransportInfoInput">
		<part name="InstanceID" type="xsd:unsignedInt"/>
	</message>

	<message name="GetTransportInfoOutput">
		<part name="CurrentTransportState" type="xsd:string"/>
		<part name="CurrentTransportStatus" type="xsd:string"/>
		<part name="CurrentSpeed" type="xsd:string"/>
	</message>

	<portType name="GetTransportInfoPortType">
		<operation name="GetTransportInfo">
			<input message="svc:GetTransportInfoInput"/>
			<output message="svc:GetTransportInfoOutput"/>
			<fault name="UpnpError" message="UpnpErrorMessage"/>
		</operation>
	</portType>

	<binding name="GetTransportInfoBinding" type="svc:GetTransportInfoPortType">
		<soap:binding
            style="rpc"
            transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="GetTransportInfo">
			<soap:operation
                soapAction="urn:schemas-upnp-org:service:AVTransport:1#GetTransportInfo"/>
			<input>
				<soap:body
                    use="encoded"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace = "urn:schemas-upnp-org:service:AVTransport:1"/>
			</input>
			<output>
				<soap:body
                    use="encoded"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace = "urn:schemas-upnp-org:service:AVTransport:1"/>
			</output>
			<fault name="UpnpError">
				<soap:fault
                    use="encoded"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="urn:schemas-upnp-org:control-1-0"
                    name="UpnpError"/>
			</fault>
		</operation>
	</binding>

	<message name="GetPositionInfoInput">
		<part name="InstanceID" type="xsd:unsignedInt"/>
	</message>

	<message name="GetPositionInfoOutput">
		<part name="Track" type="xsd:unsignedInt"/>
		<part name="TrackDuration" type="xsd:string"/>
		<part name="TrackMetaData" type="xsd:string"/>
		<part name="TrackURI" type="xsd:string"/>
		<part name="RelTime" type="xsd:string"/>
		<part name="AbsTime" type="xsd:string"/>
		<part name="RelCount" type="xsd:int"/>
		<part name="AbsCount" type="xsd:unsignedInt"/>
	</message>

	<portType name="GetPositionInfoPortType">
		<operation name="GetPositionInfo">
			<input message="svc:GetPositionInfoInput"/>
			<output message="svc:GetPositionInfoOutput"/>
			<fault name="UpnpError" message="UpnpErrorMessage"/>
		</operation>
	</portType>

	<binding name="GetPositionInfoBinding" type="svc:GetPositionInfoPortType">
		<soap:binding
            style="rpc"
            transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="GetPositionInfo">
			<soap:operation
                soapAction="urn:schemas-upnp-org:service:AVTransport:1#GetPositionInfo"/>
			<input>
				<soap:body
                    use="encoded"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace = "urn:schemas-upnp-org:service:AVTransport:1"/>
			</input>
			<output>
				<soap:body
                    use="encoded"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace = "urn:schemas-upnp-org:service:AVTransport:1"/>
			</output>
			<fault name="UpnpError">
				<soap:fault
                    use="encoded"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="urn:schemas-upnp-org:control-1-0"
                    name="UpnpError"/>
			</fault>
		</operation>
	</binding>

	<message name="GetDeviceCapabilitiesInput">
		<part name="InstanceID" type="xsd:unsignedInt"/>
	</message>

	<message name="GetDeviceCapabilitiesOutput">
		<part name="PlayMedia" type="xsd:string"/>
		<part name="RecMedia" type="xsd:string"/>
		<part name="RecQualityModes" type="xsd:string"/>
	</message>

	<portType name="GetDeviceCapabilitiesPortType">
		<operation name="GetDeviceCapabilities">
			<input message="svc:GetDeviceCapabilitiesInput"/>
			<output message="svc:GetDeviceCapabilitiesOutput"/>
			<fault name="UpnpError" message="UpnpErrorMessage"/>
		</operation>
	</portType>

	<binding name="GetDeviceCapabilitiesBinding" type="svc:GetDeviceCapabilitiesPortType">
		<soap:binding
            style="rpc"
            transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="GetDeviceCapabilities">
			<soap:operation
                soapAction="urn:schemas-upnp-org:service:AVTransport:1#GetDeviceCapabilities"/>
			<input>
				<soap:body
                    use="encoded"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace = "urn:schemas-upnp-org:service:AVTransport:1"/>
			</input>
			<output>
				<soap:body
                    use="encoded"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace = "urn:schemas-upnp-org:service:AVTransport:1"/>
			</output>
			<fault name="UpnpError">
				<soap:fault
                    use="encoded"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="urn:schemas-upnp-org:control-1-0"
                    name="UpnpError"/>
			</fault>
		</operation>
	</binding>

	<message name="GetTransportSettingsInput">
		<part name="InstanceID" type="xsd:unsignedInt"/>
	</message>

	<message name="GetTransportSettingsOutput">
		<part name="PlayMode" type="xsd:string"/>
		<part name="RecQualityMode" type="xsd:string"/>
	</message>

	<portType name="GetTransportSettingsPortType">
		<operation name="GetTransportSettings">
			<input message="svc:GetTransportSettingsInput"/>
			<output message="svc:GetTransportSettingsOutput"/>
			<fault name="UpnpError" message="UpnpErrorMessage"/>
		</operation>
	</portType>

	<binding name="GetTransportSettingsBinding" type="svc:GetTransportSettingsPortType">
		<soap:binding
            style="rpc"
            transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="GetTransportSettings">
			<soap:operation
                soapAction="urn:schemas-upnp-org:service:AVTransport:1#GetTransportSettings"/>
			<input>
				<soap:body
                    use="encoded"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace = "urn:schemas-upnp-org:service:AVTransport:1"/>
			</input>
			<output>
				<soap:body
                    use="encoded"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace = "urn:schemas-upnp-org:service:AVTransport:1"/>
			</output>
			<fault name="UpnpError">
				<soap:fault
                    use="encoded"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="urn:schemas-upnp-org:control-1-0"
                    name="UpnpError"/>
			</fault>
		</operation>
	</binding>

	<message name="StopInput">
		<part name="InstanceID" type="xsd:unsignedInt"/>
	</message>

	<message name="StopOutput">
	</message>

	<portType name="StopPortType">
		<operation name="Stop">
			<input message="svc:StopInput"/>
			<output message="svc:StopOutput"/>
			<fault name="UpnpError" message="UpnpErrorMessage"/>
		</operation>
	</portType>

	<binding name="StopBinding" type="svc:StopPortType">
		<soap:binding
            style="rpc"
            transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="Stop">
			<soap:operation
                soapAction="urn:schemas-upnp-org:service:AVTransport:1#Stop"/>
			<input>
				<soap:body
                    use="encoded"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace = "urn:schemas-upnp-org:service:AVTransport:1"/>
			</input>
			<output>
				<soap:body
                    use="encoded"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace = "urn:schemas-upnp-org:service:AVTransport:1"/>
			</output>
			<fault name="UpnpError">
				<soap:fault
                    use="encoded"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="urn:schemas-upnp-org:control-1-0"
                    name="UpnpError"/>
			</fault>
		</operation>
	</binding>

	<message name="PlayInput">
		<part name="InstanceID" type="xsd:unsignedInt"/>
		<part name="Speed" type="xsd:string"/>
	</message>

	<message name="PlayOutput">
	</message>

	<portType name="PlayPortType">
		<operation name="Play">
			<input message="svc:PlayInput"/>
			<output message="svc:PlayOutput"/>
			<fault name="UpnpError" message="UpnpErrorMessage"/>
		</operation>
	</portType>

	<binding name="PlayBinding" type="svc:PlayPortType">
		<soap:binding
            style="rpc"
            transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="Play">
			<soap:operation
                soapAction="urn:schemas-upnp-org:service:AVTransport:1#Play"/>
			<input>
				<soap:body
                    use="encoded"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace = "urn:schemas-upnp-org:service:AVTransport:1"/>
			</input>
			<output>
				<soap:body
                    use="encoded"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace = "urn:schemas-upnp-org:service:AVTransport:1"/>
			</output>
			<fault name="UpnpError">
				<soap:fault
                    use="encoded"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="urn:schemas-upnp-org:control-1-0"
                    name="UpnpError"/>
			</fault>
		</operation>
	</binding>

	<message name="PauseInput">
		<part name="InstanceID" type="xsd:unsignedInt"/>
	</message>

	<message name="PauseOutput">
	</message>

	<portType name="PausePortType">
		<operation name="Pause">
			<input message="svc:PauseInput"/>
			<output message="svc:PauseOutput"/>
			<fault name="UpnpError" message="UpnpErrorMessage"/>
		</operation>
	</portType>

	<binding name="PauseBinding" type="svc:PausePortType">
		<soap:binding
            style="rpc"
            transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="Pause">
			<soap:operation
                soapAction="urn:schemas-upnp-org:service:AVTransport:1#Pause"/>
			<input>
				<soap:body
                    use="encoded"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace = "urn:schemas-upnp-org:service:AVTransport:1"/>
			</input>
			<output>
				<soap:body
                    use="encoded"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace = "urn:schemas-upnp-org:service:AVTransport:1"/>
			</output>
			<fault name="UpnpError">
				<soap:fault
                    use="encoded"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="urn:schemas-upnp-org:control-1-0"
                    name="UpnpError"/>
			</fault>
		</operation>
	</binding>

	<message name="RecordInput">
		<part name="InstanceID" type="xsd:unsignedInt"/>
	</message>

	<message name="RecordOutput">
	</message>

	<portType name="RecordPortType">
		<operation name="Record">
			<input message="svc:RecordInput"/>
			<output message="svc:RecordOutput"/>
			<fault name="UpnpError" message="UpnpErrorMessage"/>
		</operation>
	</portType>

	<binding name="RecordBinding" type="svc:RecordPortType">
		<soap:binding
            style="rpc"
            transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="Record">
			<soap:operation
                soapAction="urn:schemas-upnp-org:service:AVTransport:1#Record"/>
			<input>
				<soap:body
                    use="encoded"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace = "urn:schemas-upnp-org:service:AVTransport:1"/>
			</input>
			<output>
				<soap:body
                    use="encoded"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace = "urn:schemas-upnp-org:service:AVTransport:1"/>
			</output>
			<fault name="UpnpError">
				<soap:fault
                    use="encoded"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="urn:schemas-upnp-org:control-1-0"
                    name="UpnpError"/>
			</fault>
		</operation>
	</binding>

	<message name="SeekInput">
		<part name="InstanceID" type="xsd:unsignedInt"/>
		<part name="Unit" type="xsd:string"/>
		<part name="Target" type="xsd:string"/>
	</message>

	<message name="SeekOutput">
	</message>

	<portType name="SeekPortType">
		<operation name="Seek">
			<input message="svc:SeekInput"/>
			<output message="svc:SeekOutput"/>
			<fault name="UpnpError" message="UpnpErrorMessage"/>
		</operation>
	</portType>

	<binding name="SeekBinding" type="svc:SeekPortType">
		<soap:binding
            style="rpc"
            transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="Seek">
			<soap:operation
                soapAction="urn:schemas-upnp-org:service:AVTransport:1#Seek"/>
			<input>
				<soap:body
                    use="encoded"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace = "urn:schemas-upnp-org:service:AVTransport:1"/>
			</input>
			<output>
				<soap:body
                    use="encoded"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace = "urn:schemas-upnp-org:service:AVTransport:1"/>
			</output>
			<fault name="UpnpError">
				<soap:fault
                    use="encoded"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="urn:schemas-upnp-org:control-1-0"
                    name="UpnpError"/>
			</fault>
		</operation>
	</binding>

	<message name="NextInput">
		<part name="InstanceID" type="xsd:unsignedInt"/>
	</message>

	<message name="NextOutput">
	</message>

	<portType name="NextPortType">
		<operation name="Next">
			<input message="svc:NextInput"/>
			<output message="svc:NextOutput"/>
			<fault name="UpnpError" message="UpnpErrorMessage"/>
		</operation>
	</portType>

	<binding name="NextBinding" type="svc:NextPortType">
		<soap:binding
            style="rpc"
            transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="Next">
			<soap:operation
                soapAction="urn:schemas-upnp-org:service:AVTransport:1#Next"/>
			<input>
				<soap:body
                    use="encoded"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace = "urn:schemas-upnp-org:service:AVTransport:1"/>
			</input>
			<output>
				<soap:body
                    use="encoded"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace = "urn:schemas-upnp-org:service:AVTransport:1"/>
			</output>
			<fault name="UpnpError">
				<soap:fault
                    use="encoded"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="urn:schemas-upnp-org:control-1-0"
                    name="UpnpError"/>
			</fault>
		</operation>
	</binding>

	<message name="PreviousInput">
		<part name="InstanceID" type="xsd:unsignedInt"/>
	</message>

	<message name="PreviousOutput">
	</message>

	<portType name="PreviousPortType">
		<operation name="Previous">
			<input message="svc:PreviousInput"/>
			<output message="svc:PreviousOutput"/>
			<fault name="UpnpError" message="UpnpErrorMessage"/>
		</operation>
	</portType>

	<binding name="PreviousBinding" type="svc:PreviousPortType">
		<soap:binding
            style="rpc"
            transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="Previous">
			<soap:operation
                soapAction="urn:schemas-upnp-org:service:AVTransport:1#Previous"/>
			<input>
				<soap:body
                    use="encoded"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace = "urn:schemas-upnp-org:service:AVTransport:1"/>
			</input>
			<output>
				<soap:body
                    use="encoded"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace = "urn:schemas-upnp-org:service:AVTransport:1"/>
			</output>
			<fault name="UpnpError">
				<soap:fault
                    use="encoded"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="urn:schemas-upnp-org:control-1-0"
                    name="UpnpError"/>
			</fault>
		</operation>
	</binding>

	<message name="SetPlayModeInput">
		<part name="InstanceID" type="xsd:unsignedInt"/>
		<part name="NewPlayMode" type="xsd:string"/>
	</message>

	<message name="SetPlayModeOutput">
	</message>

	<portType name="SetPlayModePortType">
		<operation name="SetPlayMode">
			<input message="svc:SetPlayModeInput"/>
			<output message="svc:SetPlayModeOutput"/>
			<fault name="UpnpError" message="UpnpErrorMessage"/>
		</operation>
	</portType>

	<binding name="SetPlayModeBinding" type="svc:SetPlayModePortType">
		<soap:binding
            style="rpc"
            transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="SetPlayMode">
			<soap:operation
                soapAction="urn:schemas-upnp-org:service:AVTransport:1#SetPlayMode"/>
			<input>
				<soap:body
                    use="encoded"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace = "urn:schemas-upnp-org:service:AVTransport:1"/>
			</input>
			<output>
				<soap:body
                    use="encoded"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace = "urn:schemas-upnp-org:service:AVTransport:1"/>
			</output>
			<fault name="UpnpError">
				<soap:fault
                    use="encoded"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="urn:schemas-upnp-org:control-1-0"
                    name="UpnpError"/>
			</fault>
		</operation>
	</binding>

	<message name="SetRecordQualityModeInput">
		<part name="InstanceID" type="xsd:unsignedInt"/>
		<part name="NewRecordQualityMode" type="xsd:string"/>
	</message>

	<message name="SetRecordQualityModeOutput">
	</message>

	<portType name="SetRecordQualityModePortType">
		<operation name="SetRecordQualityMode">
			<input message="svc:SetRecordQualityModeInput"/>
			<output message="svc:SetRecordQualityModeOutput"/>
			<fault name="UpnpError" message="UpnpErrorMessage"/>
		</operation>
	</portType>

	<binding name="SetRecordQualityModeBinding" type="svc:SetRecordQualityModePortType">
		<soap:binding
            style="rpc"
            transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="SetRecordQualityMode">
			<soap:operation
                soapAction="urn:schemas-upnp-org:service:AVTransport:1#SetRecordQualityMode"/>
			<input>
				<soap:body
                    use="encoded"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace = "urn:schemas-upnp-org:service:AVTransport:1"/>
			</input>
			<output>
				<soap:body
                    use="encoded"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace = "urn:schemas-upnp-org:service:AVTransport:1"/>
			</output>
			<fault name="UpnpError">
				<soap:fault
                    use="encoded"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="urn:schemas-upnp-org:control-1-0"
                    name="UpnpError"/>
			</fault>
		</operation>
	</binding>

	<message name="GetCurrentTransportActionsInput">
		<part name="InstanceID" type="xsd:unsignedInt"/>
	</message>

	<message name="GetCurrentTransportActionsOutput">
		<part name="Actions" type="xsd:string"/>
	</message>

	<portType name="GetCurrentTransportActionsPortType">
		<operation name="GetCurrentTransportActions">
			<input message="svc:GetCurrentTransportActionsInput"/>
			<output message="svc:GetCurrentTransportActionsOutput"/>
			<fault name="UpnpError" message="UpnpErrorMessage"/>
		</operation>
	</portType>

	<binding name="GetCurrentTransportActionsBinding" type="svc:GetCurrentTransportActionsPortType">
		<soap:binding
            style="rpc"
            transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="GetCurrentTransportActions">
			<soap:operation
                soapAction="urn:schemas-upnp-org:service:AVTransport:1#GetCurrentTransportActions"/>
			<input>
				<soap:body
                    use="encoded"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace = "urn:schemas-upnp-org:service:AVTransport:1"/>
			</input>
			<output>
				<soap:body
                    use="encoded"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace = "urn:schemas-upnp-org:service:AVTransport:1"/>
			</output>
			<fault name="UpnpError">
				<soap:fault
                    use="encoded"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="urn:schemas-upnp-org:control-1-0"
                    name="UpnpError"/>
			</fault>
		</operation>
	</binding>

	<message name="GetDRMStateInput">
		<part name="InstanceID" type="xsd:unsignedInt"/>
	</message>

	<message name="GetDRMStateOutput">
		<part name="CurentDRMState" type="xsd:string"/>
	</message>

	<portType name="GetDRMStatePortType">
		<operation name="GetDRMState">
			<input message="svc:GetDRMStateInput"/>
			<output message="svc:GetDRMStateOutput"/>
			<fault name="UpnpError" message="UpnpErrorMessage"/>
		</operation>
	</portType>

	<binding name="GetDRMStateBinding" type="svc:GetDRMStatePortType">
		<soap:binding
            style="rpc"
            transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="GetDRMState">
			<soap:operation
                soapAction="urn:schemas-upnp-org:service:AVTransport:1#GetDRMState"/>
			<input>
				<soap:body
                    use="encoded"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace = "urn:schemas-upnp-org:service:AVTransport:1"/>
			</input>
			<output>
				<soap:body
                    use="encoded"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace = "urn:schemas-upnp-org:service:AVTransport:1"/>
			</output>
			<fault name="UpnpError">
				<soap:fault
                    use="encoded"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="urn:schemas-upnp-org:control-1-0"
                    name="UpnpError"/>
			</fault>
		</operation>
	</binding>

	<message name="GetStateVariablesInput">
		<part name="InstanceID" type="xsd:unsignedInt"/>
		<part name="StateVariableList" type="xsd:string"/>
	</message>

	<message name="GetStateVariablesOutput">
		<part name="StateVariableValuePairs" type="xsd:string"/>
	</message>

	<portType name="GetStateVariablesPortType">
		<operation name="GetStateVariables">
			<input message="svc:GetStateVariablesInput"/>
			<output message="svc:GetStateVariablesOutput"/>
			<fault name="UpnpError" message="UpnpErrorMessage"/>
		</operation>
	</portType>

	<binding name="GetStateVariablesBinding" type="svc:GetStateVariablesPortType">
		<soap:binding
            style="rpc"
            transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="GetStateVariables">
			<soap:operation
                soapAction="urn:schemas-upnp-org:service:AVTransport:1#GetStateVariables"/>
			<input>
				<soap:body
                    use="encoded"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace = "urn:schemas-upnp-org:service:AVTransport:1"/>
			</input>
			<output>
				<soap:body
                    use="encoded"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace = "urn:schemas-upnp-org:service:AVTransport:1"/>
			</output>
			<fault name="UpnpError">
				<soap:fault
                    use="encoded"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="urn:schemas-upnp-org:control-1-0"
                    name="UpnpError"/>
			</fault>
		</operation>
	</binding>

	<message name="SetStateVariablesInput">
		<part name="InstanceID" type="xsd:unsignedInt"/>
		<part name="AVTransportUDN" type="xsd:string"/>
		<part name="ServiceType" type="xsd:string"/>
		<part name="ServiceId" type="xsd:string"/>
		<part name="StateVariableValuePairs" type="xsd:string"/>
	</message>

	<message name="SetStateVariablesOutput">
		<part name="StateVariableList" type="xsd:string"/>
	</message>

	<portType name="SetStateVariablesPortType">
		<operation name="SetStateVariables">
			<input message="svc:SetStateVariablesInput"/>
			<output message="svc:SetStateVariablesOutput"/>
			<fault name="UpnpError" message="UpnpErrorMessage"/>
		</operation>
	</portType>

	<binding name="SetStateVariablesBinding" type="svc:SetStateVariablesPortType">
		<soap:binding
            style="rpc"
            transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="SetStateVariables">
			<soap:operation
                soapAction="urn:schemas-upnp-org:service:AVTransport:1#SetStateVariables"/>
			<input>
				<soap:body
                    use="encoded"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace = "urn:schemas-upnp-org:service:AVTransport:1"/>
			</input>
			<output>
				<soap:body
                    use="encoded"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace = "urn:schemas-upnp-org:service:AVTransport:1"/>
			</output>
			<fault name="UpnpError">
				<soap:fault
                    use="encoded"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="urn:schemas-upnp-org:control-1-0"
                    name="UpnpError"/>
			</fault>
		</operation>
	</binding>

	<service name="AVTransportService">
		<port name="SetAVTransportURIPort" binding="svc:SetAVTransportURIBinding">
		</port>
		<port name="SetNextAVTransportURIPort" binding="svc:SetNextAVTransportURIBinding">
		</port>
		<port name="GetMediaInfoPort" binding="svc:GetMediaInfoBinding">
		</port>
		<port name="GetMediaInfo_ExtPort" binding="svc:GetMediaInfo_ExtBinding">
		</port>
		<port name="GetTransportInfoPort" binding="svc:GetTransportInfoBinding">
		</port>
		<port name="GetPositionInfoPort" binding="svc:GetPositionInfoBinding">
		</port>
		<port name="GetDeviceCapabilitiesPort" binding="svc:GetDeviceCapabilitiesBinding">
		</port>
		<port name="GetTransportSettingsPort" binding="svc:GetTransportSettingsBinding">
		</port>
		<port name="StopPort" binding="svc:StopBinding">
		</port>
		<port name="PlayPort" binding="svc:PlayBinding">
		</port>
		<port name="PausePort" binding="svc:PauseBinding">
		</port>
		<port name="RecordPort" binding="svc:RecordBinding">
		</port>
		<port name="SeekPort" binding="svc:SeekBinding">
		</port>
		<port name="NextPort" binding="svc:NextBinding">
		</port>
		<port name="PreviousPort" binding="svc:PreviousBinding">
		</port>
		<port name="SetPlayModePort" binding="svc:SetPlayModeBinding">
		</port>
		<port name="SetRecordQualityModePort" binding="svc:SetRecordQualityModeBinding">
		</port>
		<port name="GetCurrentTransportActionsPort" binding="svc:GetCurrentTransportActionsBinding">
		</port>
		<port name="GetDRMStatePort" binding="svc:GetDRMStateBinding">
		</port>
		<port name="GetStateVariablesPort" binding="svc:GetStateVariablesBinding">
		</port>
		<port name="SetStateVariablesPort" binding="svc:SetStateVariablesBinding">
		</port>
	</service>

</definitions>
