Public/Xml/Linn/Xml/RomCollection/RomCollection.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="RomCollection" type ="RomCollection"/>
    <xs:complexType name="RomCollection">
        <xs:sequence>
            <xs:element name="Main" type="xs:string" minOccurs ="1" maxOccurs="1"/>
            <xs:element name="Fallback" type="xs:string" minOccurs ="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
